{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-blue">
            <div class="inner text-uppercase">
                <h3 id="customer">3</h3>
                <p> Students </p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate "></i>
            </div>

            <a href="{% url 'total_student' %}" class="small-box-footer text-uppercase">View <i
                    class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-purple">
            <div class="inner text-uppercase">
                <h3 id="supplier">4</h3>
                <p>Present Students</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate "></i>
            </div>

            <a href="" class="small-box-footer text-uppercase">View <i
                    class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner text-uppercase">
                <h3 id="absent_student">3</h3>
                <p>Absent Students</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate "></i>
            </div>

            <a href="" class="small-box-footer text-uppercase">View <i
                    class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner text-uppercase">
                <h3 id="sale_invoice">4</h3>
                <p>On Leaves</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate "></i>
            </div>

            <a href="" class="small-box-footer text-uppercase">View <i
                    class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <!-- /.col -->
</div>
{% endblock content %}
    