{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container-fluid shadow bg-white ">
        <div class="content-panel" style="height:400px; overflow: auto;">
            <br>
            <form action="{% url 'complete_report' %}" method="POST">
                {% csrf_token %}
                <div class="row justify-content-md-center">
            
                    <div class="custom-search-form col-md-4">
            
                        <input type="hidden" name="stu" id="stu" value="{{student.id}}">
                        <label>From Date</label>
                        <input type="date" name="from_date" class="form-control date" placeholder="Filter by Date" required>
                    </div>
                    <div class="col-md-4">
                        <label>To Date</label>
                        <input name="to_date" type="date" class="form-control date" placeholder="Filter by Date" required>
            
                    </div>
                    <div class="col-md-2">
                        <br class="mb-2">
                        <a type="submit">
                            <button type="submit" id="report_button" class="btn btn-primary">Get Record</button></a>
                    </div>
            
                </div>
            </form>
            <br>
            <h4 class="text-center"><strong>Complete Report</strong></h4><br>
            <table class="table table-striped table-advance table-hover monthly-sales-table table-bordered">
                <thead>
                    <tr>
                        <th><i class=""></i>Total Students</th>
                        <th><i class=""></i>Present</th>
                        <th><i class=""></i>Absent</th>
                        <th><i class=""></i>Leave</th>
                    </tr>
                </thead>
                <tbody class="daily-sales-tbody">
                    <td>{{all_student}}</td>
                    <td>{{present}}</td>
                    <td>{{absent}}</td>
                    <td>{{total_leave}}</td>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}
    