{% load cache %}
{% load static %}

<!-- {% cache None sidebar%} -->
<aside id="side_bar" class="main-sidebar sidebar-light-primary  elevation-4 ">
    <!-- Brand Logo -->
    <a href="" class="brand-link ">
        <img src="{% static 'image/avatar3.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light text-center">Attendance System</span>
    </a>

    <div id="sidebarmenu">
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">

                    {% if request.user.picture %}
                    <img src="/{{request.user.picture}}" class="img-circle elevation-2" alt="Image">

                    {% else %}
                    <img src="{% static 'image/avatar3.png' %}" class="img-circle elevation-2" alt="Image">

                    {% endif %}

                </div>
                <div class="info">

                    <a href="" class="d-block"><strong>{{request.user.first_name}}</strong></a>

                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">

                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                  
                  {% if  request.user.user_type == 1 %}
                    <!-- student_home tab -->
                    <li class="nav-item">
                        <a href="{% url 'student_home' %}"
                        
                            class="nav-link">
                            <i style="color: #00c0ef;" class="nav-icon fa fa-home"></i>
                            <p class="">
                                Home
                            </p>
                        </a>
                    </li>
                    <!-- Leave tab -->
                    <li class="nav-item">
                        <a href="{% url 'leave_table' %}" class="nav-link ">
                            <i style="color: #00c0ef;" class="nav-icon fas fa-door-open"></i>
                            <p>Leave </p>
                        </a>
                    </li>
                    <!-- Report tab -->
                    <li class="nav-item">
                        <a href="{% url 'attendance_table' %}" class="nav-link ">
                            <i style="color: #00c0ef;" class="nav-icon fas fa-file-signature"></i>
                            <p>Report </p>
                        </a>
                    </li>
                    <!-- setting tab -->
                    <li class="nav-item">
                        <a href="{% url 'update_profile' %}" class="nav-link ">
                            <i style="color: #00c0ef;" class="nav-icon fas fa-cog"></i>
                            <p>Setting</p>
                        </a>
                    </li>
                    {% else %}
                    <!-- Home -->
                    <li class="nav-item">
                        <a href="{% url 'admin_home' %}" class="nav-link">
                            <i style="color: #00c0ef;" class="nav-icon fa fa-home"></i>
                            <p class="">
                                Home
                            </p>
                        </a>
                    </li>
                    <!-- all students -->
                    <li class="nav-item">
                        <a href="{% url 'total_student' %}" class="nav-link">
                            <i style="color: #00c0ef;" class="nav-icon fas fa-user-graduate"></i>
                            <p class="">
                                Students
                            </p>
                        </a>
                    </li>

                    <!-- student_attendance -->
                    <li class="nav-item">
                        <a href="{% url 'total_student' %}" class="nav-link">
                            <i style="color: #00c0ef;" class="nav-icon fas fa-file-signature"></i>
                            <p class="">
                                Attendance
                            </p>
                        </a>
                    </li>
                    <!-- Leave Approvel -->
                    <li class="nav-item">
                        <a href="{% url 'leave_approvel' %}" class="nav-link">
                            <i style="color: #00c0ef;" class="nav-icon fas fa-file-invoice"></i>
                            <p class="">
                                Leave Approvel
                            </p>
                        </a>
                    </li>


                  {%endif %}



                    
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </div>
    <!-- /.sidebar -->
</aside>


<!-- {% endcache sidebar%} -->

